# 1. Varable Assignment

In [6]:
x = 5 # This is an interger

In [5]:
x

5

# This is a Heading 1
## This is a Heading 2
### This is s Heading 3

Regular Text

**Bold Text**

*Italic*

1. Point 
2. Point 

* Point 1
* Point 2

## 2. Data Types and Structures.   Primitive & Non-Primitive

1. Primitive - Interger

In [7]:
type(x)

int

In [9]:
type(5)

int

In [13]:
x=3
print(type(x))
x

<class 'int'>

3

2. Primitive-Floats

In [11]:
y=5.0
print(type(y))
y

<class 'float'>

5.0

3. Primitive-Strings

In [17]:
z = 'Good bye Hello'
z = "Good bye Hello"
z

'Good bye Hello'

In [21]:
quote = '"I think therefore I am" - Rene decart'
quote = '\"I think therefore I am\" - Rene decart' 
print(type(quote))
quote

<class 'str'>

'"I think therefore I am" - Rene decart'

In [23]:
quote = '"I think therefore I am" - Rene decart'
quote = '\"I think therefore I am\" - Rene decart' 
print(quote)
quote

"I think therefore I am" - Rene decart

'"I think therefore I am" - Rene decart'

In [25]:
backlash = 'How do you print a \\'
print(backlash)

How do you print a \

In [27]:
backlash = 'How do you\nprint a \\'
print(backlash)

How do you
print a \

4. Primitive-Slicing

In [30]:
long_string = "Long_string_here_it_is"
print(long_string[:10])

Long_strin

In [31]:
long_string = "Long_string_here_it_is"
print(long_string[10:])

g_here_it_is

In [33]:
long_string = "Long_string_here_it_is"
print(long_string[5:11])

string

5. Primitive-Boolean

In [54]:
boolean = True 
another_boolean = False
not_a_boolean = 'True'

a = 1
b = 2
a == b

False

In [57]:
a = 1
b = 1
a == b

True

# Non-Primitive List/Array

In [63]:
a_list = (1, 2, 3, 4, 5, 6, 7, 8, 9, "asdas") # List of intergers could be combine with a STRING.
print(a_list)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 'asdas')

In [64]:
print(a_list[4:8]) # A List can SLICED.

(5, 6, 7, 8)

In [65]:
print(a_list[-1]) # A List can SLICED.

asdas

In [69]:
print(a_list[::2]) # A List can SLICED.

(1, 3, 5, 7, 9)

In [66]:
print(a_list[::-1]) # A List can SLICED.

('asdas', 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [71]:
a_tuple = (1, 2, 3, 4, 5, 6,) # Just like list but can't be modified
a_tuple

(1, 2, 3, 4, 5, 6)

In [72]:
a_tuple[:: -1]

(6, 5, 4, 3, 2, 1)

# Non-Primitive Dictionary

In [74]:
dictionary = {"Key":"Value", "another":"Value"}
print(dictionary)

{'Key': 'Value', 'another': 'Value'}

In [81]:
dictionary = {"Key":"Value", "another":"Value"}
print(dictionary["Key"])

Value

In [85]:
dictionary = {"Key":"Value", "another":"Value"}  # the get method
dictionary.get("Key")

'Value'

In [89]:
a_set = {"Value", "first", "third"} # A Set is an unordered, unchangeable way to store multiple variables without duplicates
print(a_set)

{'third', 'first', 'Value'}

## OPERATIONS
###  ARITHMETIC OPERATIOS

In [1]:
add = 2 + 2
add

4

In [95]:
add_str = "str" + "str"  # NOTE: str or string CAN'T be subtracted
add_str

'strstr'

In [92]:
add_lis = (1, 2, 3, 4) + (1, 2, 3)
add_lis

(1, 2, 3, 4, 1, 2, 3)

In [94]:
add_tuple = (1, 2, 3, 4) + (1, 2, 3)
add_tuple

(1, 2, 3, 4, 1, 2, 3)

In [96]:
mult = 3 * 2
mult

6

In [97]:
mult_str = "str" * 3
mult_str

'strstrstr'

In [98]:
mult_list = (1, 2, 3, 4) * 3
mult_list

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [112]:
div = 10.4 / 2
div

5.2

In [110]:
mult = (1 + 3) / 2
mult

2.0

In [113]:
modulo = 10 % 3
modulo

1

In [115]:
floor_division = 7 // 2
floor_division

3

## Coparison Operations

In [116]:
print(3 == 3) # Equals

print(3 != 4) # Does not equal

print(3 > 4) # Greater than

print(3 < 5) # Less than

print(2 >= 2) # Greater than or equal to

print(4 <= 4) # Less than or equal to

True
True
False
True
True
True

## Logical Operators

In [118]:
print(3 == 3 and 2 <= 5) # Returns true if both operations are true
print(3 == 3 or 2 <= 1) # Returns true if one operation is true
print(not(3 == 3 and 2 <= 5)) # Returns the opposite (False in this case)

True
True
False

## Membership Operations

In [119]:
"T" in "TRDFSADFASD"

True

In [2]:
str(1) is not "TRDFSADFASD"

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
/var/folders/h_/xmwskr3j2hz97736rrwfbq680000gn/T/ipykernel_1537/3590985130.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  str(1) is not "TRDFSADFASD"

True

In [121]:
"z" not in ["a", 123, 14, 41, 41, 4]

True

## Functions

In [135]:
def our_function(x, y, z):
    x = 3
    y = 2
    return x + y + z

In [136]:
our_function(1, 2, 3)

8

In [137]:
our_function(x=1, z=3, y=2) # you also specify if not python will and change orders only when specified

8

In [7]:
import numpy as np # the "as np" lets us call Numpy by just typing "np"

In [12]:
np.array = ([1, 2, 3, 4])
print(np.array)

[1, 2, 3, 4]

# Control Statements

## For Loops

In [22]:
the_list = list(range(3, 50))
print(the_list)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [26]:
the_list = range(3, 10)
for i in the_list:
    i += 1  # same as saying i = i + 1
    print(i)

4
5
6
7
8
9
10

In [29]:
the_list = range(3, 10)
for i in the_list:
    print("i is now", i)
    i += 1  # same as saying i = i + 1
    print("out put is now", i)
    print("loop has ended")             # for more demonstration

i is now 3
out put is now 4
loop has ended
i is now 4
out put is now 5
loop has ended
i is now 5
out put is now 6
loop has ended
i is now 6
out put is now 7
loop has ended
i is now 7
out put is now 8
loop has ended
i is now 8
out put is now 9
loop has ended
i is now 9
out put is now 10
loop has ended

## While Loops

In [30]:
x = 0
while x < 5:  # The condition that has to be true for this loop to continue
    x +=1  # These are the calculations that are performed each loop
    print(x)

1
2
3
4
5

# If - Then

In [31]:
x = 3
y = 5

if x == y:    # == means equivelent 
    print("x equals y")
elif x > y:
    print("x is greater than y")     # elif is short form of else if
else: 
    print("x is less than y")      # else is just the final condition

x is less than y

## Try - Except: Try will help you block errors from your code

In [35]:
try:
    2 / 0   # you can't divide by 0 
except ZeroDivisionError:
    print("can't divide by zero")

can't divide by zero